/* Footer Styles Starts Here */
footer {
	.footerContainer {
		min-height: 4vh;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		a {
			font-size: 1.8rem;
			color: #000;
		}
		p {
			font-size: 1.8rem;
		}
	}
}
/* Footer Styles Ends Here */
